a:visited {
    color: rgb(168, 129, 20);
}

a:link {
    color: rgb(168, 129, 20);
}

a:hover {
    color: #F5EFE6;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.bottomcloud {
    position: absolute;
    left: 150px;
    bottom: 200px;
}

.bottomsection {
    background-color: #e0d4b6;
    margin-bottom: 0;
}

.btn {
    background: #e0c998;
    background-image: -webkit-linear-gradient(top, #e0c998, #ccb991);
    background-image: -moz-linear-gradient(top, #e0c998, #ccb991);
    background-image: -ms-linear-gradient(top, #e0c998, #ccb991);
    background-image: -o-linear-gradient(top, #e0c998, #ccb991);
    background-image: linear-gradient(to bottom, #e0c998, #ccb991);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #8a8057;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #d1c288;
    background-image: -webkit-linear-gradient(top, #d1c288, #d6c49f);
    background-image: -moz-linear-gradient(top, #d1c288, #d6c49f);
    background-image: -ms-linear-gradient(top, #d1c288, #d6c49f);
    background-image: -o-linear-gradient(top, #d1c288, #d6c49f);
    background-image: linear-gradient(to bottom, #d1c288, #d6c49f);
    text-decoration: none;
}


.copyright {
    margin-bottom: 0;
    color: #7895B2;
    padding-bottom: 30px;
}

.contactme {
    background-color: #e0d4b6;
    padding-top: 10px;
}

.css {
    height: 200px;
    float: left;
    margin-right: 30px;
}

.developer {
    margin-top: 0;
    font-size: 1.875rem;
    font-weight: normal;
    position: relative;
    bottom: 65px;
}

.git {
    height: 200px;
    float: left;
    margin-right: 30px;
}

h1 {
    margin-top: 0px;
    color: #d69027;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-bottom: 0;
    position: relative;
    bottom: 40px;
}

h2,
h3 {
    color: #7895B2;
}

hr {
    color: #dacb9d;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px thin thin thin;
    width: 30%;
    margin: 100px auto;

}

.html {
    height: 200px;
    float: right;
    margin-left: 30px;
}

.java {
    height: 200px;
    float: right;
    margin-left: 30px;
}

.middlesection {
    background-color: #f1e8d1;
}

.mountain {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

.profilepic {
    border-radius: 100%;
    margin-top: 40px;
    height: 190px;
}

.python {
    height: 200px;
    float: left;
    margin-right: 30px;
}


p {
    color: #81a6c7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.skills {
    background-color: #f1e8d1;
}

.skill-row {
    width: 50%;
    height: 200px;
    margin: 90px auto 50px auto;
    text-align: left;
}

.summary {
    padding-left: 14%;
    padding-right: 14%;
}


.topcloud {
    position: absolute;
    right: 300px;
    top: 160px;
}

.topsection {
    background-color: #F5EFE6;
    position: relative;
    padding-top: 300px;
    height: 60vh;
}

@media screen and (max-width: 768px)
{

    .mountain{
        width: 90vw;
    }

    h1{
        font-size: 300%;
    }

    h3{
        margin: 10%;
        text-align: center;
    }

    hr{
        margin-top: 15%;
        margin-bottom: 15%; 
        width: 15%;
    }

    .bottomcloud{
        width: 16%;
        position: relative;
        left: 18%;
        bottom: 0%;
        
    }

    .developer{
        font-size: 100%;
        margin-top: 4%;
        padding-bottom: 5%;
    }

    .topcloud{
        width: 16%;
        position: absolute;
        right: 60%;
        top: 10%;
    }

    .summary{
        padding-left: 10%;
        padding-right: 10%;
    }

    .topsection{
        height: 50vh;
        padding-top: 48%;
    }
    .profilepic {
        border-radius: 100%;
        margin-top: 40px;
        height: 15vh;
    }
    .skill-row {
        margin: 2% 25%;
        height: 50%;
        text-align: center;
    }

    .java,.python,.html,.git,.css{
        float: none;
        padding: 3%;
        margin: 5%;
        height: 50%;
        width: 50%;
        display: inline block;
    }

    .skills{
        margin-bottom: 5%;
        
    }

    .skill-description{
        display:inline block;
        margin: 10%;
        height: 100%;
    }
    

    
    
}